.header {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 0:top & bottom */
  padding: 0 10%;
  /* x-offset y-offset blur color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  /* With the hidden value, the overflow is clipped, and the rest of the content is hidden: */
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  /* Cut off the sides of an image, preserving the aspect ratio, and fill in the space */
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
